.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  background-color: rgb(159, 155, 155);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: -100px;
  z-index: 10;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.meal {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.meal h3 {
  margin: 0 0 0.25rem 0;
}

.description {
  font-style: italic;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}
.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #431402;
  color: white;
  padding: 0.75rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}
.button:hover {
  color: #ad5502;
}
